@using WoodenAutomative.Domain.Dtos.Request.Login
@model UserProfileRequest
@{
    ViewData["Title"] = "Index";
}
<!-- begin container-fluid -->
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <div class="d-block d-sm-flex flex-nowrap align-items-center">
                <div class="ml-auto d-flex align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a href="~/Home/index"><i class="ti ti-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                Home
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Update Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end page title -->
        </div>
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-statistics">
                <div class="card-header">
                    <div class="card-heading">
                        <h4 class="card-title">Update Profile</h4>
                    </div>
                </div>
                <div class="card-body">
                   @using (Html.BeginForm("UpdateProfile","Home",FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group row">
                            @Html.LabelFor(model => model.FirstName, new { @class="col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.FirstName , new { @class="form-control" })
                                <span id="firstNameError" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.LastName, new { @class="col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.LastName , new { @class="form-control" })
                                <span id="lastNameError" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Email, new { @class="col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.Email , new { @class="form-control" })
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                <span id="emailError" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.PhoneNumber, new { @class="col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.PhoneNumber , new { @class="form-control" })
                                <span id="phoneNumberError" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end container-fluid -->

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#firstNameError").text("");
            $("#lastNameError").text("");
            $("#emailError").text("");
            $("#phoneNumberError").text("");

            $("form").submit(function () {
                var firstname = $("#FirstName").val();
                var lastname = $("#LastName").val();
                var email = $("#Email").val();
                var phoneNumber = $("#PhoneNumber").val();
                if (firstname == "" || lastname == "" || email == "" || phoneNumber == "" || phoneNumber.length > 10) {
                    if (firstname == "") {
                        $("#firstNameError").text("First Name is Required");
                    }
                    if (lastname == "") {
                        $("#lastNameError").text("Last Name is Required");
                    }
                    if (email == "") {
                        $("#emailError").text("Email ID is Required");
                    }
                    if (phoneNumber == "") {
                        $("#phoneNumberError").text("Mobile Number is Required");
                    }
                    if (phoneNumber.length > 10) {
                        $("#phoneNumberError").text("Only 10 digit Mobile Number is Required");
                    }
                    return false;
                }
            });

            $('#PhoneNumber').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9]/g))
                    return false;
            });
        });
    </script>
}